/* Styles for the main application container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  /* padding: 20px; */
}

/* Styles for the brand name */
.brand-name {
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the Bitcoin balance section */
.bitcoin-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

/* Styles for the balance information */
.balance-info {
  display: flex;
  flex-direction: column;
}


/* Animation keyframes for error message */
@keyframes bounce {

  from,
  to {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Styles for error message image */
.error img {
  max-width: 20px;
  margin-right: 10px;
}

.error404 .error-image,
.error500 .error-image {
  max-width: 200px;
  margin-bottom: 20px;
}

/* Styles for error message text */
.error-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-message {
  font-size: 18px;
  text-align: center;
}

/* Styles for error button */
.error-button {
  background-color: #ed1c2e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s ease-out;
  border: 1px solid transparent;
}

.error-button:hover {
  background-color: #fff;
  color: #ed1c2e;
  border: #ed1c2e 1px solid;
}

@media only screen and (max-width: 768px) {

  /* Styles for the transaction table section in mobile view */
  .transactions-table {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }

  .transactions-table th,
  .transactions-table td {
    white-space: nowrap;
    /* display: inline-block; */
  }
}