/* Styles for the main application container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  /* padding: 20px; */
}

/* Styles for the brand name */
.brand-name {
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the Bitcoin balance section */
.bitcoin-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

/* Styles for the balance information */
.balance-info {
  display: flex;
  flex-direction: column;
}


/* Error styles */
.revenueError {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #ffcccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-10px);
  animation: bounce 0.5s ease-in-out forwards;
}

/* Animation keyframes for error message */
@keyframes bounce {

  from,
  to {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Styles for error message image */
.revenueError img {
  max-width: 20px;
  margin-right: 10px;
}

/* Styles for error message text */
.revenueError p {
  color: #cc0000;
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-width: 768px) {

  /* Styles for the transaction table section in mobile view */
  .transactions-table {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }

  .transactions-table th,
  .transactions-table td {
    white-space: nowrap;
    /* display: inline-block; */
  }
}