/* Error styles */
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #ffcccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    transform: translateY(-10px);
    animation: bounce 0.5s ease-in-out forwards;
  }
  
  .main-error-page {
    font-family: 'Roboto', sans-serif;
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .error-title {
    max-width: 529px; 
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b62;
    margin-bottom: 16px;
  }
  
  .error-subtitle {
    max-width: 568px; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b62;
    margin-bottom: 24px;
  }
  svg {
    margin-bottom: 16px;
  }
  
  
  /*======================
      404 page
  =======================*/
  
  .fundo{
    animation: scales 3s alternate  infinite;
    transform-origin: center;
  }
  .pao-baixo{
     animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
    transform-origin: center;
  }
  .pao-cima{
     animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
    transform-origin: center;
  }
  .olhos{animation: olhos   2s  alternate  infinite;
     transform-origin: center;
  }
  
  .left-sparks{animation: left-sparks   4s  alternate  infinite;
        transform-origin: 150px 156px;
  }
  
  .right-sparks{animation: left-sparks   4s  alternate  infinite;
        transform-origin: 310px 150px;
  }
  
  .olhos{animation: olhos   2s  alternate  infinite;
     transform-origin: center;
  }
  @keyframes scales{
    from { transform: scale(0.98)}
    to{ transform: scale(1)}
  }
  
  @keyframes rotatepao{
    0% { transform:  rotate(0deg)}
    50% , 60%{ transform:  rotate(-20deg)}
    100%{  transform:  rotate(0deg) }
   
  }
  
  @keyframes olhos{
    0%{
      transform: rotateX(0deg);
    }
     100%{
      transform: rotateX(30deg);
    }
  }
  
  @keyframes left-sparks{
    0%{
      opacity: 0; 
    }
    
  }
  
  
  .main{
    
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s   alternate infinite;
  }
  
  @keyframes dash{
     0%, 30%{
       fill: 4B4B62;
      stroke-dashoffset:   0;
    }
     80%,100%{
       fill: transparent;
      stroke-dashoffset:  -200;
    }
     
    
  }
  
  .link_404 {			 
      background-color: #ed1c2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: 0.4s ease-out;
    border: 1px solid transparent;
  }
  
  .link_404:hover {
    background-color: #fff;
    color: #ed1c2e;
    border: #ed1c2e 1px solid;
  }
  
  
  /*======================
      500 page
  =======================*/
  .full-torradeira {
     
  }
  .torradeira {
  }
  
  .pao-atras {
    animation: leftright 1s alternate infinite;
    transform-origin: center;
  }
  .pao-frente {
      animation: leftright 1s 0.3s alternate infinite;
    transform-origin: center;
  }
  
  .olho-esq {
    
      animation: sad 2s alternate infinite;
    transform-origin: center;
  }
  
  .olho-dir {
    
      animation: sad 2s alternate infinite;
    transform-origin: center;
  }
  .boca {
      animation: sad 2s alternate infinite;
    transform-origin: center;
  }
  .raios {
    -webkit-animation: flicker-4 4s linear infinite both;
    animation: flicker-4 4s linear infinite both;
  }
  .tomada {
    -webkit-animation: vibrate-1 3s linear infinite both;
              animation: vibrate-1 3s linear infinite both;
  }
  .fio-500 {
    -webkit-animation: vibrate-1 3s linear infinite both;
              animation: vibrate-1 3s linear infinite both;
  }
  .fio{ 
    -webkit-animation: vibrate-1 3s linear infinite both;
              animation: vibrate-1 3s linear infinite both;
  }
  
  @keyframes scales {
    from {
      transform: scale(0.98);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2020-4-1 14:58:16
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation flicker-4
   * ----------------------------------------
   */
  @-webkit-keyframes flicker-4 {
    0%,
    100% {
      opacity: 1;
    }
    31.98% {
      opacity: 1;
    }
    32% {
      opacity: 0;
    }
    32.8% {
      opacity: 0;
    }
    32.82% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.7% {
      opacity: 0;
    }
    35.72% {
      opacity: 1;
    }
    36.98% {
      opacity: 1;
    }
    37% {
      opacity: 0;
    }
    37.6% {
      opacity: 0;
    }
    37.62% {
      opacity: 1;
    }
    67.98% {
      opacity: 1;
    }
    68% {
      opacity: 0;
    }
    68.4% {
      opacity: 0;
    }
    68.42% {
      opacity: 1;
    }
    95.98% {
      opacity: 1;
    }
    96% {
      opacity: 0;
    }
    96.7% {
      opacity: 0;
    }
    96.72% {
      opacity: 1;
    }
    98.98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    99.6% {
      opacity: 0;
    }
    99.62% {
      opacity: 1;
    }
  }
  @keyframes flicker-4 {
    0%,
    100% {
      opacity: 1;
    }
    31.98% {
      opacity: 1;
    }
    32% {
      opacity: 0;
    }
    32.8% {
      opacity: 0;
    }
    32.82% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.7% {
      opacity: 0;
    }
    35.72% {
      opacity: 1;
    }
    36.98% {
      opacity: 1;
    }
    37% {
      opacity: 0;
    }
    37.6% {
      opacity: 0;
    }
    37.62% {
      opacity: 1;
    }
    67.98% {
      opacity: 1;
    }
    68% {
      opacity: 0;
    }
    68.4% {
      opacity: 0;
    }
    68.42% {
      opacity: 1;
    }
    95.98% {
      opacity: 1;
    }
    96% {
      opacity: 0;
    }
    96.7% {
      opacity: 0;
    }
    96.72% {
      opacity: 1;
    }
    98.98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    99.6% {
      opacity: 0;
    }
    99.62% {
      opacity: 1;
    }
  }
  
  
  /* ----------------------------------------------
   * Generated by Animista on 2020-4-1 15:17:57
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation vibrate-1
   * ----------------------------------------
   */
  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  
  
  /* ----------------------------------------------
   * Generated by Animista on 2020-4-1 15:42:45
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation wobble-ver-right
   * ----------------------------------------
   */
  @-webkit-keyframes wobble-ver-right {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(6deg);
              transform: translateY(-30px) rotate(6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(-6deg);
              transform: translateY(15px) rotate(-6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(3.6deg);
              transform: translateY(-15px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(-2.4deg);
              transform: translateY(9px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(1.2deg);
              transform: translateY(-6px) rotate(1.2deg);
    }
  }
   
  
  @keyframes sad {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(10deg)  rotateY(5deg);
    }
  }
  
  @keyframes leftright{
    
    0%{
      transform: rotateZ( 0deg)
    }
     100%{
      transform: rotateZ( -15deg)
    }
  }

  /*======================
      Network error page
  =======================*/
  .err-network svg {
    margin: auto;
    display: block;
    height: 300px;
    width: 315px;
  }

  .a {
    fill-opacity: 0.5;
    opacity: 0.85;
    isolation: isolate;
    fill: url(#a);
  }
  .b {
    fill: #3cc88c;
  }
  .c {
    fill: #DCE1ED;
  }
  .d {
    fill: #DCE1ED;
  }
  .e {
    fill: #C9CEDB;
  }
  .f {
    fill: #fff;
  }

  /* --------------------------
    Keyframes
  --------------------------- */
  
  @-webkit-keyframes starAnimation {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0.7;
    }
    30% {
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0.7;
    }
  }
  
  @keyframes starAnimation {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0.7;
    }
    30% {
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0.7;
    }
  }
  
  @-webkit-keyframes circlesAnimationTop {
    0% {
      -webkit-transform: translate(0px, -10px);
      transform: translate(0px, -10px);
    }
    30% {
      -webkit-transform: translate(0px, -5px);
      transform: translate(0px, -5px);
    }
    60% {
      -webkit-transform: translate(1px, 10px);
      transform: translate(1px, 10px);
    }
    100% {
      -webkit-transform: translate(0px, -10px);
      transform: translate(0px, -10px);
    }
  }
  
  @keyframes circlesAnimationTop {
    0% {
      -webkit-transform: translate(0px, -10px);
      transform: translate(0px, -10px);
    }
    30% {
      -webkit-transform: translate(0px, -5px);
      transform: translate(0px, -5px);
    }
    60% {
      -webkit-transform: translate(1px, 10px);
      transform: translate(1px, 10px);
    }
    100% {
      -webkit-transform: translate(0px, -10px);
      transform: translate(0px, -10px);
    }
  }
  
  @-webkit-keyframes circlesAnimationBottom {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: scale(1) translate(0px, 0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translate(5px, 5px) rotate(285deg);
      transform: scale(1.5) translate(5px, 5px) rotate(285deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: scale(1.2) translate(0px, 0px) rotate(0deg);
    }
  }
  
  @keyframes circlesAnimationBottom {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: scale(1) translate(0px, 0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translate(5px, 5px) rotate(285deg);
      transform: scale(1.5) translate(5px, 5px) rotate(285deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: scale(1.2) translate(0px, 0px) rotate(0deg);
    }
  }
  
  @-webkit-keyframes shadowLoop {
    0% {
      -webkit-transform: translate(0, -35px) scale(1.15, 0.25);
      transform: translate(0, -35px) scale(1.15, 0.25);
    }
    100% {
      -webkit-transform: translate(0, -35px) scale(0.8, 0.18);
      transform: translate(0, -35px) scale(0.8, 0.18);
    }
  }
  
  @keyframes shadowLoop {
    0% {
      -webkit-transform: translate(0, -35px) scale(1.15, 0.25);
      transform: translate(0, -35px) scale(1.15, 0.25);
    }
    100% {
      -webkit-transform: translate(0, -35px) scale(0.8, 0.18);
      transform: translate(0, -35px) scale(0.8, 0.18);
    }
  }
  
  @-webkit-keyframes dropFall {
    0% {
      -webkit-transform: translate(0, -25px);
      transform: translate(0, -25px);
    }
    100% {
      -webkit-transform: translate(0, 125px);
      transform: translate(0, 125px);
      opacity: 0;
    }
  }
  
  @keyframes dropFall {
    0% {
      -webkit-transform: translate(0, -25px);
      transform: translate(0, -25px);
    }
    100% {
      -webkit-transform: translate(0, 125px);
      transform: translate(0, 125px);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes cloudLoop {
    0% {
      -webkit-transform: translate(0, 15px);
      transform: translate(0, 15px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes cloudLoop {
    0% {
      -webkit-transform: translate(0, 15px);
      transform: translate(0, 15px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  
  /* --------------------------
    SVG Styles
  --------------------------- */
  
  #noConnection * {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  
  .star,
  .circlesBottom,
  .circlesTop {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .star {
    -webkit-animation: starAnimation 0.8s cubic-bezier(0, 0, 1, 20);
    animation: starAnimation 0.8s cubic-bezier(0, 0, 1, 20);
  }
  
  .circlesBottom {
    -webkit-animation: circlesAnimationBottom;
    animation: circlesAnimationBottom;
  }
  
  .circlesTop {
    -webkit-animation: circlesAnimationTop;
    animation: circlesAnimationTop;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  
  .circlesBottom,
  .circlesTop {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
  
  .cloud {
    -webkit-animation: cloudLoop 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      infinite alternate;
    animation: cloudLoop 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
      alternate;
  }
  
  .shadow {
    background: #BDC4D7;
    opacity: 0.4;
    height: 55px;
    width: 75px;
    border-radius: 50px;
    margin: auto;
    -webkit-transform: translate(0, -35px) scale(1.35, 0.25);
    transform: translate(0, -35px) scale(1.35, 0.25);
    -webkit-animation: shadowLoop 0.8s ease infinite alternate;
    animation: shadowLoop 0.8s ease infinite alternate;
  }
  
  .rain {
    display: block;
    text-align: center;
    margin: auto;
    height: 90px;
    width: 100px;
    overflow: hidden;
    margin-top: -80px;
    z-index: 0;
  }
  
  .drop {
    display: inline-block;
    background: #A9C6F0;
    height: 25px;
    width: 4px;
    margin: 5px;
    border-radius: 25px;
    opacity: 0.85;
    -webkit-animation: dropFall 1s infinite;
    animation: dropFall 1s infinite;
  }
  
  .drop.fast {
    opacity: 0.75;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  
  .drop.faster {
    opacity: 0.5;
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
  }
  
  .drop.slow {
    -webkit-animation-duration: 0.85s;
    animation-duration: 0.85s;
  }
  
  .lightning {
    opacity: 0.3;
    z-index: 10;
  }
  
  
  /* --------------------------
    Dribbble
  --------------------------- */
  
  .dribbble {
    position: fixed;
    display: block;
    right: 30px;
    bottom: 30px;
  }
  
  .dribbble svg {
    width: 30px;
    height: 30px;
  }