/* Define custom font */
@font-face {
  font-family: 'Barlow';
  src: url('../assets/fonts/barlow/Barlow-Medium.ttf') format('truetype');
}

/* Variables */
:root {
  --rad: 20px;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #ED1C2E;
  --font-fam: 'Barlow';
  --height: 2rem;
  --btn-width: 5rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* Form styles */
form {
  position: relative;
  width: 40%;
  background: var(--color-light);
  border-radius: var(--rad);
  margin: 1em;
}

/* Styles for input elements */
input,
#search-btn {
  height: var(--height);
  /* font-family: var(--font-fam); */
  border: 0;
  color: var(--color-dark);
  font-size: 1em;
  padding: 5px 1em;
}

/* Styles for general input */
input {
  width: 100%;
  outline: none;
  background: var(--color-light);
  border-radius: var(--rad);
  border: #DEDEDE solid 1px;
  appearance: none;
  box-shadow: 0 0 5px var(--color-dark);
}

/* Styles for search input */
input[type="search"] {
  padding: 10px;
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  z-index: 1;
  position: relative;
}

/* Styles for the search button */
#search-btn {
  display: none;
  position: absolute;
  top: 0;
  right: -30px;
  width: var(--btn-width);
  font-weight: lighter;
  background: var(--color-brand);
  color: var(--color-light);
  border-radius: var(--rad);
  font-size: 1em;
  padding-left: 1.05em;
  height: 80%;
  margin-top: .2rem;
  transition-duration: var(--dur);
  transition-property: display;
  animation: fadeInAnimation var(--dur);
}

/* Styles for input when not empty */
input:not(:placeholder-shown) {
  border-radius: var(--rad);
  width: calc(100%);
  outline: none;
}

/* Show search button when input is not empty */
input:not(:placeholder-shown)+#search-btn {
  display: block;
}

/* Styles to hide the label element */
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Animation for search button */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
