/* Styles for the search box container */

.formSearch {
    margin: 20px;
}

/* Styles for the search box */
.searchBox {
    border-radius: .375rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding: .375rem 1rem;
    width: 100%;
    display: block;
    height: 30px;

}