/* Styles for transaction summary container */
.transaction-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

/* Styles for transaction summary heading */
.transaction-summary h2 {
    text-align: center;
    width: 10%;
}

/* Styles for summary stats container */
.summary-stats {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* Styles for individual summary stat */
.summary-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    /* Styles for transaction summary container in mobile view */
    .transaction-summary {
        width: 100%;
        text-align: center;
    }

    /* Styles for transaction summary heading in mobile view */
    .transaction-summary h2 {
        width: 100%;
    }

    /* Styles for summary stats container in mobile view */
    .summary-stats {
        flex-direction: column;
    }
}