/* Styles for transaction summary container */
.transaction-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

/* Styles for transaction summary heading */
.transaction-summary h2 {
    text-align: center;
    width: 10%;
}

/* Styles for summary stats container */
.summary-stats {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* Styles for individual summary stat */
.summary-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
