.user-info {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.user-info .avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.user-info .content {
    margin-left: 20px;
}

.user-info .content p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.format-address {
    background-color: rgba(237, 155, 96, 0.15);
    padding: 0px 0.875rem;
    border-radius: 1rem;
    height: 30px;
    display: flex;
    place-items: center;
    margin: 0.7rem 0;
}

.format-address-icon {
    width: 16px;
    height: 16px;
    background-color: rgb(237, 155, 96);
    mask-image: url(../assets/images/addressFormat.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
    display: inline-flex;
    margin: 0px 5px 0px 0px;
}

.format-address span {
    color: rgb(237, 155, 96);

}

.qr-frame {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0px 10px;
    margin: 0.875rem 0px;
}

.qr-background {
    aspect-ratio: 1 / 1;
    width: 34px;
    height: 34px;
    min-width: 34px;
    border-radius: 6px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in 0s;
    background-color: rgb(237, 155, 96);
}

.qr-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    mask-image: url(../assets/images/QRcode.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
    display: inline-flex;
    margin: 0px;
}

.qr-content {

    font-size: 0.875rem;
    max-height: max-content;
    margin: 0px;
    cursor: pointer;
    word-break: break-all;
    padding: 0px;
    display: inline;
}

.copy-icon {
    width: 14px;
    height: 14px;
    background-color: rgb(153, 153, 153);
    mask-image: url(../assets/images/copyIcon.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
    display: inline-flex;
    margin: 0px 0px 0px 5px;
}

.popup-message {
    position: fixed;
    top: -50px;
    /* Initial position above the screen */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slideInDown 0.5s ease-out forwards, slideOutUp 0.5s ease-in 2s forwards;
    z-index: 9999;
    /* Ensure it appears above other content */
}

.balance-frame {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: 15px 0;
    border-radius: 20px;
    margin: 0px;
    overflow: hidden;
    background-color: rgba(237, 155, 96, 0.15);
}

.balance-info {
    min-height: 75px;
    margin: 0px -1px 0px 12px;
    border-right: 1px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0%;
}

.balance-header {
    margin: 0px 10px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.balance-data {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    color: rgb(153, 153, 153);
    font-size: 0.875rem;
    margin: 5px 10px 0px;
}

.balance-wallet {
    width: max-content;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin: 0px;
    font-weight: 400;
}

.dot {
    display: inline-flex;
    align-self: center;
    color: rgb(0, 0, 0);
    margin: 0px 0.25rem;
    font-size: 0.875rem;
}

.covert-dollar {
    font-weight: 400;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
}

@keyframes slideInDown {
    0% {
        top: -50px;
        /* Initial position above the screen */
        opacity: 0;
    }

    100% {
        top: 20px;
        /* Final position below the top screen */
        opacity: 1;
    }
}

@keyframes slideOutUp {
    0% {
        top: 20px;
        /* Final position below the top screen */
        opacity: 1;
    }

    100% {
        top: -50px;
        /* Back to initial position above the screen */
        opacity: 0;
    }
}
